@use "/src/style/utils/variables" as *;
@use "/src/style/utils/media_breakpoint" as *;

@include desktop() {
  .container {
    min-width: $breakpoint_desktop;
  }
}
@include mobile() {
  .container {
    min-width: $breakpoint_mobile;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
